*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: border-box;
   
}

html {
    --black: #0D114F;
    --white: #FAFAFA;
    --Red: #E83F5B;
    --lightblue: #E0ECFF;
    --Blue: #3485FF;
    --Background: #FBFCFF;
    --Overlay: #040911;
    --Icons & details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;;
    --grey-Medium: #D3D9E2;
    --grey-light: #E5EAF1;

    font-size: 62.5%
    font-size: 2.8rem
}

body{
    height: 100vh;
    background: var(--Background);
}